body
{
  background-color:lightgrey;
  color:black;
  font-size:20px;
  
}


nav
{
  background-color:blue;
  margin-top:0px;
}

  ul
{   
    list-style:none;
    display:flex;
    padding-left:5px;
  
}
 nav ul li
{
  margin:auto;
}
nav ul li 
{
  color:darkblue;
  justify-content:space-arround;
}
section{
   background-color:white;
  font-size:auto;
}
.d1 ul li{
  margin:auto;
}
textarea{
  width:350px;
  border-radius:1rem;
}
.bottom-left{
  color:white;
  position:absolute;
  padding-left:10px;
  padding-top:170px;
}
 img
{border-radius:1rem;
  height:200px;
    width:140px;
  margin:3px;
}
.image-cropper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin:  auto;
  margin-left: -25%; //centers the image
  height: 50%;
  width: auto;
}
.lsc li i
{
  display:flex;
  justify-content:space-between;
}
.posts img{ 
  
  height:auto;
  width:98%;
 }